.section {
  padding-block: var(--space-5);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: var(--space-3);
}

@media (width <= 700px) {
  .list {
    justify-content: center;
  }
}
